{% extends 'profiles/base.html' %}
{% block content %}
    <h2>{{ course.title }}</h2>
    <p>{{ course.description }}</p>
    <p>{{ course.long_description }}</p>
        {% if user in course.students.all %}
        <form action="{{user}}/remove_course/" method="post">
          {% csrf_token %}
          <input class="btn btn-danger" type="submit" value="Remove Course from my Profile"></form>
        {% else %}
        <form action="{{user}}/add_course/" method="post">
          {% csrf_token %}
          <input class="btn btn-success" type="submit" value="Add Course to My Profile"></form>
        {% endif %}
{% endblock %}
