{% extends "profiles/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <p class="text-muted">
                Or, log in to your Google Account with <a href="{% url 'social:begin' 'google-oauth2' %}">Google Login</a>. Hoosin only supports virginia.edu domains.
            </p>
        </div>
        </div>
    </div>
{% endblock content %}
