{% extends "profiles/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <!-- <img class="rounded-circle account-img" src="{{ user.profile.image.url }}"> -->

        <div class="media-body">
          <legend class="border-bottom mb-4">Current Profile</legend>
          <h5 class="account-heading" style="margin-top: -10px;">{{ user.username }}</h5>
            {% if user.email %}
                <p class="text-secondary">email: {{ user.email }}</p>
            {% endif %}
            {% if user.profile.year and user.profile.major %}
                <p class="text-secondary">{{ user.profile.year }} year, {{ user.profile.major }} major</p>
            {% endif %}
            {% if friend_list %}
            <h2>All friends </h2>
            <ul class="list-group">
            {% for friend in friend_list %}

                <li class="list-group-item">
                    <h5><a href="/profiles/students/{{ friend.username }}">{{ friend.username }}</a></h5>
                    </li>
            {% endfor %}
            </ul>
            {% else %}
            you have no friends
            {% endif %}
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4" style="margin-bottom: 0px !important;">Update Profile</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
    </div>
{% endblock content %}
