{% extends 'profiles/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<html>
<head>
    <h2>Search</h2>
</head>
<body>
    <div style="margin-top: 15px; margin-bottom: 20px !important">
        <a href="/profiles/student-search-form/" class="btn btn-info mr-2">Search for Students</a>
        <a href="/profiles/course-search-form/" class="btn btn-info mr-2">Search for Classes</a>
        <a href="/profiles/club-search-form/" class="btn btn-info">Search for Skill Groups</a>
    </div>
</body>
</html>
{% endblock %}
