<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h2> List of All Students </h2>
{% if student_list %}
    <ul>
    {% for s in student_list %}
        <li>{{ s.name }}, year {{ s.year }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No students exist in the system.</p>
{% endif %}

</body>
</html>